In [10]:
# importing 
import pandas as pd
from sqlalchemy import create_engine

In [11]:
# Store CSV into DataFrame
csv_file = "data/netflix_titles.csv"
netflix_data_df = pd.read_csv(csv_file)
netflix_data_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [15]:
netflix_data_df.count()

show_id         6234
type            6234
title           6234
director        4265
cast            5664
country         5758
date_added      6223
release_year    6234
rating          6224
duration        6234
listed_in       6234
description     6234
dtype: int64

In [23]:
# Dropping every record which has NaN value in it. 
nf_na_df = netflix_data_df.dropna()

In [25]:
nf_na_df.count()

show_id         3774
type            3774
title           3774
director        3774
cast            3774
country         3774
date_added      3774
release_year    3774
rating          3774
duration        3774
listed_in       3774
description     3774
dtype: int64

In [30]:
# Filtering only 'United State' 
nf_us_df = nf_na_df.loc[nf_na_df["country"] == "United States", :]

In [32]:
only_movies_df = nf_us_df.loc[nf_us_df["type"] == "Movie", :]

In [39]:
only_movies_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
20,80060297,Movie,Manhattan Romance,Tom O'Brien,"Tom O'Brien, Katherine Waterston, Caitlin Fitz...",United States,"September 8, 2017",2014,TV-14,98 min,"Comedies, Independent Movies, Romantic Movies",A filmmaker working on a documentary about lov...
23,70304988,Movie,Stonehearst Asylum,Brad Anderson,"Kate Beckinsale, Jim Sturgess, David Thewlis, ...",United States,"September 8, 2017",2014,PG-13,113 min,"Horror Movies, Thrillers","In 1899, a young doctor arrives at an asylum f..."
24,80057700,Movie,The Runner,Austin Stark,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...",United States,"September 8, 2017",2015,R,90 min,"Dramas, Independent Movies",A New Orleans politician finds his idealistic ...
25,80045922,Movie,6 Years,Hannah Fidell,"Taissa Farmiga, Ben Rosenfield, Lindsay Burdge...",United States,"September 8, 2015",2015,NR,80 min,"Dramas, Independent Movies, Romantic Movies",As a volatile young couple who have been toget...

In [34]:
only_movies_df.count()

show_id         1300
type            1300
title           1300
director        1300
cast            1300
country         1300
date_added      1300
release_year    1300
rating          1300
duration        1300
listed_in       1300
description     1300
dtype: int64

In [38]:
only_movies_df.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [42]:
# Dropping column "country" due to repeated value and "date_added"
only_col_df = only_movies_df.drop(columns=['type','country','date_added'])

In [49]:
only_col_df.head()

,show_id,title,director,cast,release_year,rating,duration,listed_in,description
4,80125979,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
20,80060297,Manhattan Romance,Tom O'Brien,"Tom O'Brien, Katherine Waterston, Caitlin Fitz...",2014,TV-14,98 min,"Comedies, Independent Movies, Romantic Movies",A filmmaker working on a documentary about lov...
23,70304988,Stonehearst Asylum,Brad Anderson,"Kate Beckinsale, Jim Sturgess, David Thewlis, ...",2014,PG-13,113 min,"Horror Movies, Thrillers","In 1899, a young doctor arrives at an asylum f..."
24,80057700,The Runner,Austin Stark,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...",2015,R,90 min,"Dramas, Independent Movies",A New Orleans politician finds his idealistic ...
25,80045922,6 Years,Hannah Fidell,"Taissa Farmiga, Ben Rosenfield, Lindsay Burdge...",2015,NR,80 min,"Dramas, Independent Movies, Romantic Movies",As a volatile young couple who have been toget...

In [45]:
# Dropping duplicate titles 
dp_df = only_col_df.drop_duplicates(subset=['title'], keep='last')

In [47]:
# Removing "min" from "duration" column value and change data type to as float
dp_df[dp_df.columns[6]] = dp_df[dp_df.columns[6]].replace('[min]', '', regex=True).astype(float)

/Users/prashantkapadia/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [55]:
# CREATING COPY OF EXISTING DF AS SAFE DATA POINT FOR ANY FUTURE CHANGES.
clean_netflix_df = dp_df.copy()

In [57]:
clean_netflix_df.head()

,show_id,title,director,cast,release_year,rating,duration,listed_in,description
4,80125979,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",2017,TV-14,99.0,Comedies,When nerdy high schooler Dani finally attracts...
20,80060297,Manhattan Romance,Tom O'Brien,"Tom O'Brien, Katherine Waterston, Caitlin Fitz...",2014,TV-14,98.0,"Comedies, Independent Movies, Romantic Movies",A filmmaker working on a documentary about lov...
23,70304988,Stonehearst Asylum,Brad Anderson,"Kate Beckinsale, Jim Sturgess, David Thewlis, ...",2014,PG-13,113.0,"Horror Movies, Thrillers","In 1899, a young doctor arrives at an asylum f..."
24,80057700,The Runner,Austin Stark,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...",2015,R,90.0,"Dramas, Independent Movies",A New Orleans politician finds his idealistic ...
25,80045922,6 Years,Hannah Fidell,"Taissa Farmiga, Ben Rosenfield, Lindsay Burdge...",2015,NR,80.0,"Dramas, Independent Movies, Romantic Movies",As a volatile young couple who have been toget...

In [58]:
clean_netflix_df.dtypes

show_id           int64
title            object
director         object
cast             object
release_year      int64
rating           object
duration        float64
listed_in        object
description      object
dtype: object

In [59]:
clean_netflix_df.count()

show_id         1298
title           1298
director        1298
cast            1298
release_year    1298
rating          1298
duration        1298
listed_in       1298
description     1298
dtype: int64

In [ ]:
## loading into pgadmin